<h1>Welcome</h1>

<button><%= link_to 'Login', new_user_session_path %></button>

<!-- <button><%= link_to "<button>Signup</button>".html_safe, 'signup' %> -->
<button><%= link_to 'Signup', new_user_registration_path %></button>

<!-- <h2>Testing</h2>
<% @categories.each do |category| %>
<%= category.name %>
<% end %>

<% @quizzes.each do |quiz| %>
<%= quiz.name %>
<% end %> -->