<h3>Create a new category</h3>
<%= link_to 'New Category', new_category_path %>

<h1>Current categories:</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Games</th>
	</tr>
<% @categories.each do |category| %>
	<tr>
		<td><%= category.name %></td>
		<td><%= category.games %></td>
		<td><%= link_to 'Show', category_path(category) %></td>
		<td><%= link_to 'Edit', edit_category_path(category) %></td>
		<td><%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure'} %></td>
	</tr>
<% end %>
</table>