<p>
	<strong>Name:</strong>
	<%= @category.name %>
</p>

<h2>Quizzes:</h2>
<%= render @category.quizzes %>

<h2>New Quiz</h2>
<%= render 'quizzes/form' %>

<%= link_to 'Home', categories_path %> 
<%= link_to 'Edit', edit_category_path(@category) %>
